---
http_interactions:
- request:
    method: get
    uri: https://api.watchmode.com/v1/autocomplete-search/?apiKey=<watch_mode_api_key>&search_field=name&search_type=2&search_value=everything
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      Retry-After:
      - '4'
      X-Account-Quota:
      - '1000'
      X-Account-Quota-Used:
      - '22'
      Upgrade:
      - h2,h2c
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"name":"Everything Everywhere All at Once","relevance":250,"type":"movie","id":1516721,"year":2022,"result_type":"title","tmdb_id":545611,"tmdb_type":"movie","image_url":"https:\/\/cdn.watchmode.com\/posters\/01516721_poster_w185.jpg"},{"name":"Everything,
        Everything","relevance":169.39,"type":"movie","id":1126597,"year":2017,"result_type":"title","tmdb_id":417678,"tmdb_type":"movie","image_url":"https:\/\/cdn.watchmode.com\/posters\/01126597_poster_w185.jpg"},{"name":"To
        Wong Foo, Thanks for Everything! Julie Newmar","relevance":167.82,"type":"movie","id":1435331,"year":1995,"result_type":"title","tmdb_id":9090,"tmdb_type":"movie","image_url":"h[...]
