---
http_interactions:
- request:
    method: get
    uri: https://api.watchmode.com/v1/title/show_id/details?apiKey=<watch_mode_api_key>&append_to_response=sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      Retry-After:
      - '4'
      X-Account-Quota:
      - '1000'
      X-Account-Quota-Used:
      - '22'
      Upgrade:
      - h2,h2c
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"statusCode":404,"statusMessage":"The resource could
        not be found."}'
  recorded_at: Tue, 28 Feb 2023 18:02:56 GMT
recorded_with: VCR 6.1.0
